<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="aboutUs-container">
        <div class ="child-aboutUs-container">
            <img style ="width: 80%;" src="../../assets/undraw_location_search_re_ttoj.svg" alt="">
        </div>

        <div class = "child-aboutUs-container2">
        <h2>What about us ? </h2>
         <p style =" margin-top: 150px; ">Push&Dive's designs are modern and stylish, with a focus on comfort and wearability. The brand uses natural fabrics, such as cotton and linen, and traditional Tunisian embroidery techniques.
            The colors are vibrant and reflect the beauty of the Tunisian landscape.
            The brand's target audience is young, fashion-forward Tunisians who are proud of their heritage. Push&Dive is committed to supporting local artisans and using sustainable materials.
            </p>   
        </div>
    </div>
</body>
</html>